[URL] 
https://web.mit.edu/morrishalle/pubworks/papers/1968_Chomsky_Halle_The_Sound_Pattern_of_English.pdf
[FACTOR]
2,7,0
[PARAM]
#page=
[TOC]
PART I: GENERAL SURVEY, 3
	SETTING, 3
		Grammar, 3
		Linguistic Universals, 4
		Phonetic Representations, 5
		Components of a Grammar, 6
		Surface Structure, 7
			Lexical and Phonological Representations, 9
			On the Abstractness of Lexical Representations, 11
			Analysis into Words, 12
		Summary, 14
	A SKETCH OF ENGLISH PHONOLOGY AND PHONOLOGICAL THEORY, 15
		The Principle of the Transformational Cycle and Its Application to English Stress Contours, 15
		On the Reality of Phonetic Representation, 24
		The Transformational Cycle Within the Word, 26
		The Segmental Phonology of English-a First Approximation, 28
		More on the Transformational Cycle Within the Word, 29
		Particular and Universal Grammar, 43
		On the Abstractness of Lexical Representation, 44
		Vowel Alternations, 50
PART II: ENGLISH PHONOLOGY, 59
	THE TRANSFORMATIONAL CYCLE IN ENGLISH PHONOLOGY, 59
		Introductory Remarks, 59
			The Rules of the Phonological Component, 60
			Notational Conventions, 61
			Distinctive Features, 64
				Boundary Features, 66
				Segmental Features, 68
			Stress Placement in Verbs--a First Approximation, 69
			Stress Placement in Nouns--a First Approximation, 71
			Alternating Stress Rule, 77
			Stress Placement in Adjectives, 79
			Derivational Affixes, 80
			Summary of Stress Placement Rules, 83
			Nuclear Stress, 89
			Compounds, 91
			Complex Verbs, 94
			Nouns Derived from Verbs, 96
			Revised Version of the Main Stress Rule, 98
			Complex Nouns and Adjectives, 100
			Vowel Reduction, 110
			Further Investigation of Derivational Affixes, 126
			Stress as a Lexical Category, 145
	WORD-LEVEL PHONOLOGY, 163
		Introductory Remarks, 163
		Phonological and Phonetic Representation, 164
			Lexical Redundancy Rules, 171
			Treatment of Exceptions, 172
		The Features, 177
		Vowel Alternations, 178
			Alternations of Nonback Vowels, 178
			Alternations of Back Vowels, 186
			The Vowel Shift Rule, 187
				Refinements and Extensions of the Vowel Shift Rule, 188
					Rounding and Backness Adjustments, 188
					Rounding and Stress, 190
				Final Weak-Stressed [o], 190
				The Diphthong [ɔy], 191
				Prevocalic y-Glides, 192
				Vowel Shift for Lax Vowels, 201
				Further Remarks on Diphthongization, 205
				Further Remarks on Phonetically Low Vowels, 205
				Rounding Adjustment, 217
		Further Consequences of the Vowel Shift Rule, 219
		The Consonant System of English, 223
	SUMMARY OF RULES, 236
		Readjustment Rules, 238
		Phonological Rules, 239
PART III: HISTORY, 249
	THE EVOLUTION OF THE MODERN ENGLISH VOWEL SYSTEM, 249
		Introductory Remarks, 249
			On Linguistic Change, 249
			General Comments on the Early History of Modem English, 252
			Concerning Exchange Rules, 256
		John Hart (1551-1579), 259
			The Evidence, 260
			Harts Pattern, 263
		John Wallis (1653-1699), 266
			The Evidence, 266
			Wallis Pattern, 268
		Christopher Cooper (1687), 275
			The Evidence, 275
			Coopers Pattern, 278
		T. Batchelor (1809), 282
			The Evidence, 283
			Batchelors Pattern, 284
PART IV: PHONOLOGICAL THEORY, 293
	THE PHONETIC FRAMEWORK, 293
		Phonetic Representation, 293
			Phonetic Transcription and the Speech Signal, 293
			Phonetic and Phonological Representation, 295
		The Phonetic Features, 298
			The Neutral Position, 300
			Vocal Cord Vibration--Spontaneous and Otherwise, 300
		Major Class Features, 301
			Sonorant-Nonsonorant (Obstruent), 302
			Vocalic-Nonvocalic, 302
			Consonantal-Nonconsonantal, 302
		Cavity Features, 303
			Primary Strictures, 303
				Coronal-Noncoronal, 304
				Anterior-Nonanterior, 304
			Features Relating to the Body of the Tongue: High-Nonhigh, Low-Nonlow, Back-Nonback, 304
				On the Relationship Between the Features "Diffuseness," " Compactness," and "Gravity" and the Features of the Preceding Sections, 306
				Degrees of Narrowing in the Vocal Tract, 308
			Rounded-Nonrounded, 309
			Distributed-Nondistributed, 312
			Covered-Noncovered, 314
			Glottal Constrictions, 315
			Secondary Apertures, 316
				Nasal-Nonnasal, 316
				Lateral-Nonlateral, 317
		Manner of Articulation Features, 317
			Continuant-Noncontinuant (Stop), 317
			Release Features: Instantaneous Release-Delayed Release, 318
				Release of Primary Closures, 319
				Release of Secondary Closures, 319
				Comments on the Release Features, 321
			Supplementary Movements, 322
				Suction, 322
				Pressure, 323
				Order of Releases in Sounds with Multiple Closures, 324
			Tense-Nontense (Lax), 324
		Source Features, 326
			Heightened Subglottal Pressure, 326
			Voiced-Nonvoiced (Voiceless), 326
			Strident-Nonstrident, 329
		Prosodic Features, 329
	PRINCIPLES OF PHONOLOGY, 330
		On the Evaluation Procedure and the Form of Phonological Rules, 330
		Segments as Feature Complexes, 335
		The Ordering of the Rules, 340
		Variables as Feature Coefficients, 350
		Metathesis, Contraction, and Elision, 358
		Boundaries, 364
			Formative Boundary: +, 364
			The Boundary # and the Notion "Word", 366
			The Boundary =, 371
			Boundaries as Units, 371
			Readjustment Rules, 371
		Diacritic Features, 373
		Lexical Representation, 380
		Appendix: Formalism, 390
	EPILOGUE AND PROLOGUE: THE INTRINSIC CONTENT OF FEATURES, 400
		Some Unresolved Problems, 400
		A Theory of " Markedness", 402
			The Marking Conventions, 403
			Conventions for the Major Categories, 408
			Conventions for Vowels and the Representation of Vowels in the Lexicon, 408
			Conventions for True Consonants and the Representation of Consonants in the Lexicon, 411
			Conventions for Liquids, 414
			Conventions for Glides, 414
		Markedness and Lexical Representation, 414
		Markedness and Phonological Rules: Linking, 419
BIBLIOGRAPHY, 437
INDEXES, 447
	Language Index, 447
	Word Index, 449
	Affix Index, 462
	Subject Index, 464
